.border-widget {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  padding: 0px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.panel-label {
  position: absolute;
  top: -6px;
  left: 16px;
  background: white;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  font-size: 16px;
  color: #444;
  z-index: 1;
}

.panel-label-bottom {
  position: absolute;
  top: -6px;
  left: 16px;
  background: white;
  margin-top: 262.5px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  font-size: 16px;
  color: #444;
  z-index: 1;
}

.panel-label-layer-selector {
  position: absolute;
  top: -6px;
  left: 16px;
  background: white;
  margin-top: 87.5px;
  margin-left: 1125px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  font-size: 16px;
  color: #444;
  z-index: 1;
}

#header-bar {
    display: flex;
    alignItems center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    height: 90px;
}

.custom-tabs {
    padding: 0 !important;
    font-weight: bold !important;
    font-size: 14px !important;
    text-align: top !important;
    border-radius: 5px !important;
    border: 3px solid #ccc !important;
    height: 55px !important;
    margin-left: 37px !important;
}

.custom-tabs .tab-item {
    margin-right: 2px !important;
    display: flex !important;
    width: 150px !important;
    align-items: center !important;
}

.custom-tabs .tab {
    margin-right: 2px !important;
    display: flex !important;
    width: 150px !important;
    align-items: center !important;
}

.custom-tabs .tab-item:last-child {
    margin-right: 0 !important;
    display: flex !important;
    width: 170px !important;
    align-items: center !important;
}

#logo-image-div {
    margin-top: -190px;
}

.main-content-area {
    height: calc(100vh - 80px);
    padding: 0;
}

.full-height-row {
    height: 100vh;
}

#container,
#euclidean-container,
#multi-recon-trimap-container {
    height: 110vh;
    padding: 5px 50px 10px;
}

#model-prog-trimap-container {
    height: 110vh;
    padding: 5px 50px 10px;
    margin-top: 30px;
}

#recon-image-div-euclidean,
#original-image-div-euclidean {
    height: 263px;
    width: 235px;
    border: 0px solid #ccc;
    border-radius: 10px;
    align-items: center;
    background: white;
}

#recon-image-euclidean,
#original-image-euclidean {
    height: 150px;
    width: 150px;
    border: 1px solid #ccc;
    image-rendering: pixelated;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 45px;
    margin-right: 50px;
}

.main-col-left {
    height: 100%;
    padding: 15px 0 0 0;
    background: lightgray;
    border-radius: 10px;
    margin-right: 10px;
}

.main-col-mid {
    height: 100%;
    padding: 15px 0 0 0;
    border-radius: 10px;
    background: lightgray;
}

.main-col-right {
    height: 100%;
    padding: 15px 0 0 0;
    background: lightgray;
    border-radius: 10px;
    margin-left: 10px;
}

.top-row {
    height: 35.5%;
    margin-bottom: 10px;
}

.bottom-row {
    height: 35.5%;
}

.multi-recon-top-row-col-left,
.model-prog-top-row-col-left {
    height: 100%;
    padding: 15px 0 0 0;
    background: lightgray;
    border-radius: 10px;
    margin-right: 10px;
}

.multi-recon-top-row-col-right {
    height: 100%;
    padding: 15px 0 0 0;
    border-radius: 10px;
    background: lightgray;
}

.model-prog-top-row-col-right {
    height: 100%;
    border: 0px solid #ccc;
    border-radius: 10px;
    background: white;
}

.multi-recon-trimap-top-row {
    height: 50%;
    margin-bottom: 15px;
}

.multi-recon-grid-row {
    height: 26.65%;
}

.model-prog-layer-selector-outer-div {
    height: 100%;
    width: 24.25%;
    margin-left: 1125px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 15px 0 0 0;
    border-radius: 10px;
    background: lightgray;
}

.model-prog-layer-selector-div {
    height: 100%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: white;
}

.layer-selector-radio-buttons .form-check {
    margin-left: 60px;
    margin-right: 20px;
}

.model-prog-trimap-top-row {
    height: 65%;
}

.multi-recon-image-grid-column,
.model-prog-slider-column {
    height: 100%;
    padding: 15px 0 0 0;
    background: lightgray;
    margin-right: 10px;
}

.multi-recon-image-grid-last-column {
    height: 100%;
    padding: 15px 0 0 0;
    background: lightgray;
}

.model-prog-top-row-col-right-sub-row-top-div {
    padding: 15px 0 0 0;
    background: lightgray;
    border: 0px solid #ccc;
    border-radius: 10px;
    margin-bottom: 11px;
}

.model-prog-top-row-col-right-sub-row-bottom-div {
    padding: 15px 0 0 0;
    background: lightgray;
    border: 0px solid #ccc;
    border-radius: 10px;
}

#original-image-div-multi-recon {
    height: 377.5px;
    width: 372.5px;
    border-radius: 10px;
    align-items: center;
    background: white;
}

#original-image-multi-recon {
    height: 250px;
    width: 250px;
    border: 1px solid #ccc;
    image-rendering: pixelated;
    align-items: center;
    margin-top: 62.5px;
    margin-bottom: 50px;
    margin-left: 60.5px;
    margin-right: 50px;
}

#original-image-div-model-prog {
    height: 232px;
    width: 372px;
    margin-top: 3px;
    margin-left: 1px;
    border-radius: 10px;
    align-items: center;
    background: white;
}

#original-image-model-prog {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    image-rendering: pixelated;
    align-items: center;
    margin-top: 15.5px;
    margin-bottom: 50px;
    margin-left: 83.5px;
    margin-right: 50px;
}

#recon-image-div-model-prog {
    height: 232px;
    width: 372px;
    margin-top: 3px;
    margin-left: 1px;
    border-radius: 10px;
    align-items: center;
    background: white;
}

#recon-image-model-prog {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    image-rendering: pixelated;
    align-items: center;
    margin-top: 15.5px;
    margin-bottom: 50px;
    margin-left: 83.5px;
    margin-right: 50px;
}

#multi-recon-image-div-2d,
#multi-recon-image-div-3d,
#multi-recon-image-div-4d,
#multi-recon-image-div-5d,
#multi-recon-image-div-6d,
#multi-recon-image-div-7d {
    height: 193.5px;
    width: 233.5px;
    border: 0px solid #ccc;
    border-radius: 10px;
    align-items: center;
    background: white;
}

#multi-recon-image-2d,
#multi-recon-image-3d,
#multi-recon-image-4d,
#multi-recon-image-5d,
#multi-recon-image-6d,
#multi-recon-image-7d {
    height: 150px;
    width: 150px;
    border: 1px solid #ccc;
    image-rendering: pixelated;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 50px;
}

.stretchy-widget {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px;
}

.plotly-plots {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px;
}

.dash-graph {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

html, body {
    overflow: clip;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wc-canvas-hover-label {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    display: none;
}

.wc-canvas-hover{
    border: 1px solid rgba(100, 100, 100, 1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    display: none;
}

.legendtoggle {
   display: none;
}

.legendtext {
   cursor: default;
}
