.border-widget {
  position: relative;
  border: 0.052vw solid #ccc;
  border-radius: 0.521vw;
  background: white;
  padding: 0vh;
  box-shadow: 0 0.185vh 0.37vh rgba(0,0,0,0.05);
}

.panel-label {
  position: absolute;
  top: -0.556vh;
  left: 0.833vw;
  background: white;
  padding-left: 0.104vw;
  padding-right: 0.104vw;
  font-weight: bold;
  font-size: 0.873vw;
  color: #444;
  z-index: 1;
}

.panel-label-bottom {
  position: absolute;
  top: 22vh;
  left: 0.833vw;
  background: white;
  margin-top: 13.672vh;
  padding-left: 0.104vw;
  padding-right: 0.104vw;
  font-weight: bold;
  font-size: 0.873vw;
  color: #444;
  z-index: 1;
}

.panel-label-layer-selector {
  position: absolute;
  top: 5.456vh;
  left: 15.333vw;
  background: white;
  margin-top: 8.101vh;
  margin-left: 58.594vw;
  padding-left: 0.104vw;
  padding-right: 0.104vw;
  font-weight: bold;
  font-size: 0.873vw;
  color: #444;
  z-index: 1;
}

#header-bar {
  display: flex;
  align-items: center;
  gap: 0.52vw;
  padding-top: 0.781vh;
  padding-bottom: 0.463vh;
  height: 14.259vh;
}

.custom-tabs {
  padding: 0 !important;
  font-weight: bold !important;
  font-size: 0.876vw !important;
  text-align: top !important;
  border-radius: 0.26vw !important;
  border: 0.176vw solid #ccc !important;
  height: 7.293vh !important;
  margin-left: 2.5vw !important;
}

.custom-tabs .tab-item {
  margin-right: 0.104vw !important;
  display: flex !important;
  width: 11.375vw !important;
  align-items: center !important;
}

.custom-tabs .tab {
  margin-right: 0.104vw !important;
  display: flex !important;
  width: 11.375vw !important;
  align-items: center !important;
}

.custom-tabs .tab-item:last-child {
  margin-right: 0 !important;
  display: flex !important;
  width: 11.375vw !important;
  align-items: center !important;
}

#logo-image-div {
  margin-top: 2.5vh;
  margin-left: 4.125vw;
}

#right-dropdown-div {
  position: relative;
  margin-top: 1.852vh;
  margin-left: 21.864vw;
  z-index: 1;
}

#right-dropdown {
  width: 17.021vw;
}

.main-content-area {
  height: calc(100vh - 6.481vh);
  padding: 0;
}

.full-height-row {
    height: 100vh;
}

#container,
#euclidean-container,
#multi-recon-trimap-container {
  calc(100vh - 6.481vh);
  padding: 0.463vh 3.25vw 0.926vh;
}

#model-prog-trimap-container {
    calc(100vh - 6.481vh);
    padding: 0.463vh 3.25vw 0.926vh;
    margin-top: 2.778vh;
}

#recon-image-div-euclidean,
#original-image-div-euclidean {
  height: 36.142vh;
  width: 15.599vw;
  border: 0vw solid #ccc;
  border-radius: 0.521vw;
  align-items: center;
  background: white;
}

#recon-image-euclidean,
#original-image-euclidean {
  height: 21.889vh;
  width: 10.513vw;
  border: 0.052vw solid #ccc;
  image-rendering: pixelated;
  align-items: center;
  margin-top: 6.756vh;
  margin-bottom: 4.63vh;
  margin-left: 2.544vw;
  margin-right: 2.604vw;
}

.main-col-left {
  height: 100%;
  padding: 2.2vh 0 0 0;
  background: lightgray;
  border-radius: 0.521vw;
  margin-right: 0.52vw;
}

.main-col-mid {
    height: 100%;
    padding: 2.2vh 0 0 0;
    border-radius: 0.52vw;
    background: lightgray;
}

.main-col-right {
  height: 100%;
  padding: 2.2vh 0 0 0;
  background: lightgray;
  border-radius: 0.521vw;
  margin-left: 0.52vw;
}

.top-row {
    height: 35.5%;
    margin-bottom: 0.72vw;
}

.bottom-row {
    height: 35.5%;
}

.multi-recon-top-row-col-left,
.model-prog-top-row-col-left {
    height: 100%;
    padding: 2.2vh 0 0 0;
    background: lightgray;
    border-radius: 0.52vw;
    margin-right: 0.52vw;
}

.multi-recon-top-row-col-right {
    height: 100%;
    padding: 2.2vh 0 0 0;
    border-radius: 0.52vw;
    background: lightgray;
}

.model-prog-top-row-col-right {
    height: 100%;
    border: 0 solid #ccc;
    border-radius: 0.52vw;
    background: white;
}

.multi-recon-trimap-top-row {
    height: 50%;
    margin-bottom: 0.72vw;
}

.multi-recon-grid-row {
    height: 26.65%;
}

.model-prog-layer-selector-outer-div {
  height: 100%;
  width: 24.25%;
  margin-left: 73.194vw;
  margin-bottom: 1.389vh;
  border: 0.052vw solid #ccc;
  padding: 1.789vh 0 0 0;
  border-radius: 0.521vw;
  background: lightgray;
}

.model-prog-layer-selector-div {
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.52vw 0.926vh;
    background: white;
}

.layer-selector-radio-buttons .form-check {
  margin-left: 3.525vw;
  margin-right: 1.542vw;
}

.model-prog-trimap-top-row {
    height: 100%;
}

.multi-recon-image-grid-column {
    height: 100%;
    padding: 1.05vw 0 0 0;
    background: lightgray;
    margin-right: 0.52vw;
}

.multi-recon-image-grid-last-column {
    height: 100%;
    padding: 1.05vw 0 0 0;
    background: lightgray;
}

.model-prog-top-row-col-right-sub-row-top-div {
    padding: 0.926vh 0 0 0;
    background: lightgray;
    border: 0 solid #ccc;
    border-radius: 0.52vw;
    margin-bottom: 11px;
}

.model-prog-top-row-col-right-sub-row-bottom-div {
    padding: 0.926vh 0 0 0;
    background: lightgray;
    border: 0 solid #ccc;
    border-radius: 0.52vw;
}

#original-image-div-multi-recon {
    height: 51.654vh;
    width: 24.355vw;
    border-radius: 0.52vw;
    align-items: center;
    background: white;
}

#original-image-multi-recon {
  height: 33.148vh;
  width: 17.021vw;
  border: 0.052vw solid #ccc;
  image-rendering: pixelated;
  align-items: center;
  margin-top: 8.787vh;
  margin-bottom: 4.63vh;
  margin-left: 3.651vw;
  margin-right: 2.604vw;
}

#original-image-div-model-prog {
    height: 32.1vh;
    width: 24.375vw;
    margin-top: 1.258vh;
    margin-left: 0.052vw;
    margin-bottom: 0.15vh;
    border-radius: 0.52vw;
    align-items: center;
    background: white;
}

#original-image-model-prog {
  height: 28.519vh;
  width: 15.517vw;
  border: 0.052vw solid #ccc;
  image-rendering: pixelated;
  align-items: center;
  margin-top: 1.735vh;
  margin-bottom: 4.63vh;
  margin-left: 4.354vw;
  margin-right: 2.604vw;
}

#recon-image-div-model-prog {
    height: 32.1vh;
    width: 24.375vw;
    margin-top: 1.328vh;
    margin-left: 0.052vw;
    margin-bottom: 0.1vh;
    border-radius: 0.52vw;
    align-items: center;
    background: white;
}

#recon-image-model-prog {
  height: 28.519vh;
  width: 15.517vw;
  border: 0.052vw solid #ccc;
  image-rendering: pixelated;
  align-items: center;
  margin-top: 1.735vh;
  margin-bottom: 4.63vh;
  margin-left: 4.354vw;
  margin-right: 2.604vw;
}

#multi-recon-image-div-2d,
#multi-recon-image-div-3d,
#multi-recon-image-div-4d,
#multi-recon-image-div-5d,
#multi-recon-image-div-6d,
#multi-recon-image-div-7d {
  height: 25.917vh;
  width: 15.311vw;
  border: 0vw solid #ccc;
  border-radius: 0.521vw;
  align-items: center;
  background: white;
}

#multi-recon-image-2d,
#multi-recon-image-3d,
#multi-recon-image-4d,
#multi-recon-image-5d,
#multi-recon-image-6d,
#multi-recon-image-7d {
  height: 20.889vh;
  width: 10.813vw;
  border: 0.052vw solid #ccc;
  image-rendering: pixelated;
  align-items: center;
  margin-top: 2.352vh;
  margin-bottom: 4.63vh;
  margin-left: 2.233vw;
  margin-right: 2.604vw;
}

.stretchy-widget {
    width: 100%;
    height: 100%;
    border-radius: 0.52vw 0.52vw;
}

.plotly-plots {
    width: 100%;
    height: 100%;
    border-radius: 0.52vw 0.52vw;
}

.dash-graph {
    height: 100%;
    width: 100%;
    border-radius: 0.52vw;
}

html, body {
    overflow: clip;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wc-canvas-hover-label {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    display: none;
}

.wc-canvas-hover{
    border: 1px solid rgba(100, 100, 100, 1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    display: none;
}

.legendtoggle {
   display: none;
}

.legendtext {
   cursor: default;
}
